<!--後ほどこの部分はabout.html.erbと括るかも-->
<h1>
  welcome to <strong>Bookers</strong> !!
</h1>

<p>
  in <strong>Bookers</strong>,<br />
  you can share and exchange your opinions , inpressions, and emotions<br />
  about various books!
</p>

<button>
  <%= link_to "Log in", new_user_session_path %>
</button>

<button>
  <%= link_to "Sign up", new_user_registration_path %>
</button>
